body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

main{
display: flex;
}

.picture{
     background-image: url(../LoginPicture/new-background.jpg);
     background-size: cover;
     font-family: 'Dancing Script', cursive;
   /* width: 50%;
    height: 100vh;
    background-repeat: repeat-x;
    color: white;
    font-size: 100px;
    font-weight: bold;
 */
    
}

.login{
    width: 70%;
    /* margin-left:25%; */
}

.myname{
    margin-left: 20px;
    margin-top: 200px;
    font-size: 100px;
    text-align: center;
    
}



.mylogo{
    width: 200px;
    height: 200px;
    margin-left: 25%;
}

/* form{
    height: 520px;
    width: 400px;
    position: relative;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 50%;
    border-radius: 10px;
   
    padding: 50px 35px;
} */
form *{
    font-family: 'Montserrat', sans-serif;
    color: black;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    /* text-align: center; */
}

/* .formlogo{
    background-image: url(../../../pictures/emojione-v1_pot-of-food.png);
    width: 200px;
    height: 200px;
    margin-left: 70px;
} */

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(253, 9, 9, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #c034349b;
}

.role{
    display: flex;
    
}
.sub-role{
    display: flex;
    /* align-items: center; */
    margin-right: 30px;
    margin-top: -20px;
    
}

#radioB{
    margin-top: 15px;
}
#radioC{
    margin-top: 15px;
}

.chooseRole{
    margin-top: 39px;
}



button{
    margin-top: 30px;
    width: 80%;
    background-color: #fa4513;
    color: #ffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

